export(Bgross)
export(Cgross)
export(detail2grossA)
export(detailcomp)
export(grosscomp)
export(Hsdetail)
export(MWdetail)
export(MWgross)
export(Rhodetail)
export(Rhogross)
export(setdetail)
export(setgrossA)
export(setgrossB)
export(ZBdetail)
export(Zdetail)
export(Zgross)
useDynLib(aga8)
